ENV=dev
DEBUG=True
SECRET_KEY=change-me
DATABASE_URL=mysql://root:<password>@127.0.0.1:3306/packgo2
FRONTEND_URL=http://127.0.0.1:3019
SITE_NAME=PackGo V2
BFG_INSTANCE_TYPE=workspace
LOCAL_APPS=packgo
